* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Spectral", serif;

  overflow: hidden;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-background {
  position: fixed;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .app-background {
    width: 100vw;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .app-background {
    width: auto;
    height: 100vh;
  }
}

.header {
  position: absolute;
  top: 23%;
  left: 1vw;
  font-size: calc((0.4em + 3vmin) + (0.4em + 3vmax));
  color: rgb(255 222 128);
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Page transition */
.page {
  position: absolute;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: opacity 1000ms, transform 1000ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}

.toilet-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toilet-page-enter {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  opacity: 0;
}

.toilet-page-enter-active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
  transition: ease transform 1000ms, -webkit-transform 1000ms, opacity 1000ms;
}
.toilet-page-exit {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

.toilet-page-exit-active {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  opacity: 0;
  transition: ease transform 1000ms, -webkit-transform 1000ms, opacity 300ms;
}

.weather-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-page-enter {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  opacity: 0;
}

.weather-page-enter-active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
  transition: ease transform 1000ms, -webkit-transform 1000ms, opacity 1000ms;
}
.weather-page-exit {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

.weather-page-exit-active {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  opacity: 0;
  transition: ease transform 1000ms, -webkit-transform 1000ms, opacity 300ms;
}

.left-link {
  color: #fafafa;
  text-decoration: none;
  font-size: calc((0.4em + 1vmin) + (0.4em + 1vmax));
  position: absolute;
  left: 6vw;
  top: 61vh;
}
.right-link {
  color: #fafafa;
  text-decoration: none;
  font-size: calc((0.4em + 1vmin) + (0.4em + 1vmax));
  position: absolute;
  right: 6vw;
  top: 61vh;
}

.left-arrow {
  width: 9vmin;
  height: 9vmin;
  box-sizing: border-box;
  position: absolute;
  left: 3vw;
  top: 60vh;
  transform: rotate(-135deg);
}

.right-arrow {
  width: 9vmin;
  height: 9vmin;
  box-sizing: border-box;
  position: absolute;
  right: 3vw;
  top: 60vh;
  transform: rotate(45deg);
}

.arrow:before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.4vmin 0.4vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transition: 0.2s ease-in-out;
  display: block;
  transform-origin: 100% 0;
}

.arrow:after {
  content: "";
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.4vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transform-origin: 100% 0;
  transition: 0.2s ease-in-out;
}

.weather-card {
  display: flex;
  width: 40vw;
  align-content: space-between;
  flex-direction: column;
  background-color: rgb(117, 169, 151);
  color: #fafafa;
  border-radius: 10px;
}

.weather-card-row {
  display: flex;
  justify-content: space-between;
  padding: 3vh 5vw 1.5vh 5vw;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wind-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toilet-card {
  display: flex;
  width: 50vw;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(117, 169, 151);
  color: #fafafa;
  border-radius: 10px;
  padding: 20px 20px 5px 20px;
}

.toilet-card p {
  font-size: 10px;
  margin-top: 1vh;
}

.map-container {
  display: flex;
}

.toilet-info {
  width: 30%;
  padding: 10px;
}
